* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.one {
  float: left;
  background: red;
  height: 200px;
  width: 33.33%;
}
.two {
  float: left;
  background: blue;
  height: 200px;
  width: 33.33%;
}
.three {
  float: left;
  background: green;
  height: 200px;
  width: 33.33%;
}
h1 {
  clear: both;
}
